<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">

    </style>
</head>
<body>
  <div>
    <div id="cic_agent_toolbar" style="margin: 2px;"></div>
    <div>

      <script type="text/template" id="cic-template-logonform">
      <form action="javascript:void(0);">
        <input type="text" id="cic_logonform_username" placeholder="Username" value="icadmin">
        <input type="password" id="cic_logonform_password" placeholder="Password" value="1234">
        <input type="text" id="cic_logonform_cicserver" placeholder="IC Server" value="localhost">
        <select id="cic_stationform_type">
          <option value="workstation">Workstation</option>
          <option value="remote_workstation">Remote Workstation</option>
          <option value="remote_number" selected>Remote Number</option>
        </select>
        <input type="text" id="cic_stationform_name" placeholder="Station Name" value="1234">
        <button id="cic_logonform_logon">Logon</button>
      </form>
      </script>

      <script type="text/template" id="cic-template-activetoolbar">
      <form action="javascript:void(0);">
        <div id="cic_toolbar_actionbar"></div>
        <div id="cic_toolbar_statusbar"></div>
        <button id="cic_toolbar_Logoff" style="float: left;padding: 0;margin: 1px 0px 1px 0px;display: block;">Logoff</button>
        <div id="cic_toolbar_interactions" style="display: inline-block;height: 30px;"></div>
      </form>
      </script>

      <script type="text/template" id="cic-template-actionbar">
        <button id="cic_toolbar_Pickup" style="float: left;padding: 0;margin: 1px 0px 1px 1px;display: block;" <%=(capabilities.Pickup==0)?'disabled':''%>>
          <img src="cic/img/pickup.svg" style="width:28px;<%=(capabilities.Pickup==0)?'opacity:0.2;cursor:not-allowed;':''%>">
        </button>
        <button id="cic_toolbar_Disconnect" style="float: left;padding: 0;margin: 1px 0px 1px 0px;display: block;" <%=(capabilities.Disconnect==0)?'disabled':''%>>
          <img src="cic/img/disconnect.svg" style="width:28px;<%=(capabilities.Disconnect==0)?'opacity:0.2;cursor:not-allowed;':''%>">
        </button>
        <button id="cic_toolbar_Hold" style="float: left;padding: 0;margin: 1px 0px 1px 0px;display: block;" <%=(capabilities.Hold==0)?'disabled':''%>>
          <img src="cic/img/hold.svg" style="width:28px;<%=(capabilities.Hold==0)?'opacity:0.2;cursor:not-allowed;':''%>">
        </button>
        <button id="cic_toolbar_Mute" style="float: left;padding: 0;margin: 1px 0px 1px 0px;display: block;" <%=(capabilities.Mute==0)?'disabled':''%>>
          <img src="cic/img/mute.svg" style="width:28px;<%=(capabilities.Mute==0)?'opacity:0.2;cursor:not-allowed;':''%>">
        </button>
        <button id="cic_toolbar_Record" style="float: left;padding: 0;margin: 1px 0px 1px 0px;display: block;<%=(capabilities.Record==0)?'opacity:0.2;cursor:not-allowed;':''%>" <%=(capabilities.Record==0)?'disabled':''%>>Record</button>
      </script>

      <script type="text/template" id="cic-template-selectstatus">
      <select id="cic_toolbar_selectstatus" style="float:left;display:block;"></select>
      </script>

      <script type="text/template" id="cic-template-interaction">
      <span id="cic_toolbar_interaction_<%=interaction.interactionId%>" style="background-color: <%=color%>; color: #FFFFFF; padding: .2em .6em .3em; text-align: center; white-space: nowrap; border-radius: .25em; margin: 2px 0 3px 2px; display: inline-block; cursor:pointer; <%=selected?'border: 1px solid red;':''%>">
        <img src="cic/img/<%=interaction.attributes.Eic_ObjectType%>.png" style="width:16px;height:16px">
        <span style="margin-bottom: 4px; position: relative; top: -2px;">#<%=interaction.interactionId%></span>
      </span>
      </script>

    </div>

    <script src="jquery.js"></script>
    <script src="../cic/jquery.ddslick.js"></script>
    <script src="../cic/icws.js"></script>
    <script src="../cic/underscore-min.js"></script>

  	<script src="../cic/agent_toolbar.js"></script>
  </div>
</body>
</html>
